<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Aluno</h1>
      </div>

      <p-tabView>

        <p-tabPanel header="Aluno">


      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText  name="nome"
        [(ngModel)]="aluno.nome" #nome="ngModel" required>

        <app-message [control]="nome" error="required"
        text="Informe o nome"></app-message>

      </div>

      <div class="ui-g-12 ui-md-1 ui-fluid">
        <label>Sexo</label>
        <p-dropdown name="sexo" placeholder="Selecione" [options]="sexos" [(ngModel)]="aluno.sexo" [autoWidth]="false" ngModel #sexo="ngModel"></p-dropdown>
        <app-message [control]="sexo" error="required"
        text="Informe o sexo"></app-message>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"
          name="dataNascimento" [(ngModel)]="aluno.dataNascimento" #dataNascimento="ngModel" required></p-calendar>
        <app-message [control]="dataNascimento" error="required" text="Informe a data de nascimento"></app-message>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Naturalidade</label>
        <input type="text" pInputText name="naturalidade" [(ngModel)]="aluno.naturalidade">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText name="naturalidadeEstado" [(ngModel)]="aluno.naturalidadeEstado">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
      <label>Nacionalidade</label>
        <input type="text" pInputText name="nacionalidade" [(ngModel)]="aluno.nacionalidade">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Cor/Raça</label>
          <p-dropdown name="cor" placeholder="Selecione" [options]="cores" [(ngModel)]="aluno.cor" [autoWidth]="false" #cor="ngModel"></p-dropdown>
          <app-message [control]="cor" error="required"
          text="Informe uma opção"></app-message>
      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid">
          <label>Estado civil</label>
          <p-dropdown name="estadoCivil" placeholder="Selecione" [options]="estadosCivis" [(ngModel)]="aluno.estadoCivil" [autoWidth]="false" #estadoCivil="ngModel"></p-dropdown>
          <app-message [control]="estadoCivil" error="required"
          text="Informe uma opção"></app-message>
      </div>


      <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Data de ingresso</label>
          <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"
            name="dataIngresso" [(ngModel)]="aluno.dataIngresso" #dataIngresso="ngModel"></p-calendar>
          <app-message [control]="dataIngresso" error="required" text="Informe a data"></app-message>
        </div>


      <div class="ui-g-12 ui-fluid">
        <hr>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99" [(ngModel)]="aluno.cpf" name="cpf"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Carteira de Identidade</label>
        <input type="text" pInputText name="identidade" [(ngModel)]="aluno.identidade">
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de Emissão</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" name="identidadeEmissao" [(ngModel)]="aluno.identidadeEmissao"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Orgão Emissor</label>
        <input type="text" pInputText name="identidadeEmissor" [(ngModel)]="aluno.identidadeEmissor">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estado emissor</label>
        <input type="text" pInputText name="identidadeEmissorEstado" [(ngModel)]="aluno.identidadeEmissorEstado">
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Nº Certidão de Nascimento</label>
        <input type="text" pInputText name="certidaoNascimento" [(ngModel)]="aluno.certidaoNascimento">
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data Registro</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" name="certidaoData" [(ngModel)]="aluno.certidaoData"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Livro</label>
        <input type="text" pInputText name="certidaoLivro" [(ngModel)]="aluno.certidaoLivro">
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Nº das Folhas</label>
        <input type="text" pInputText name="certidaoFolhas" [(ngModel)]="aluno.certidaoFolhas">
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Cartório</label>
        <input type="text" pInputText name="certidaoCartorio" [(ngModel)]="aluno.certidaoCartorio">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estado emissor</label>
        <input type="text" pInputText name="certidaoEstado" [(ngModel)]="aluno.certidaoEstado">
      </div>

      <div class="ui-g-12 ui-fluid">
        <hr>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999" name="cep" [(ngModel)]="aluno.endereco.cep" (change)="buscar()"></p-inputMask>
      </div>



      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Endereço Residêncial</label>
        <input type="text" pInputText id="endereco" name="endereco" [(ngModel)]="aluno.endereco.logradouro">
      </div>

      <div class="ui-g-12 ui-md-1 ui-fluid">
          <label>Número</label>
          <input type="text" pInputText id="numero" name="numero" [(ngModel)]="aluno.endereco.numero">
        </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText id="complemento" name="complemento" [(ngModel)]="aluno.endereco.complemento">
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText id="bairro" name="bairro" [(ngModel)]="aluno.endereco.bairro">
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText id="cidade" name="cidade" [(ngModel)]="aluno.endereco.cidade">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText id="estado" name="estado" [(ngModel)]="aluno.endereco.estado">
      </div>


      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Telefone Fixo</label>
      <p-inputMask mask="(99)9999-9999" name="telefone" [(ngModel)]="aluno.telefone"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Celular</label>
        <p-inputMask mask="(99)99999-9999" name="celular" [(ngModel)]="aluno.celular"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText name="email" [(ngModel)]="aluno.email">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Pais Separados</label>
        <p-selectButton name="paisSeparados" [options]="booleano"
          [(ngModel)]="aluno.paisSeparados"></p-selectButton>
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Religião</label>
        <input type="text" pInputText name="religiao" [(ngModel)]="aluno.religiao">
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Reside com</label>
        <input type="text" pInputText name="resideCom" [(ngModel)]="aluno.resideCom">
      </div>

      <div class="ui-g-12 ui-fluid">
        <hr>
      </div>

      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Escola de origem</label>
        <input type="text" pInputText name="escolaOrigem" [(ngModel)]="aluno.escolaOrigem">
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText name="escolaOrigemCidade" [(ngModel)]="aluno.escolaOrigemCidade">
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText name="escolaOrigemEstado" [(ngModel)]="aluno.escolaOrigemEstado">
      </div>
      </p-tabPanel>

      <p-tabPanel header="Responsável">

          <div class="ui-g-12 ui-md-6 ui-fluid">
              <label>Responsável Financeiro</label>
              <p-dropdown name="responsavel" placeholder="Selecione" [options]="responsaveis" [(ngModel)]="aluno.responsavel.codigo" [autoWidth]="false" #responsavel="ngModel" [filter]="true" required></p-dropdown>
              <app-message [control]="responsavel" error="required"
              text="Informe o responsável financeiro do aluno"></app-message>
            </div>

      </p-tabPanel>







    <p-tabPanel header="Aspectos de saúde">

        <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>Tipo sanguineo</label>
            <p-dropdown name="tipoSanguineo" placeholder="Selecione" [options]="sanguineos" [(ngModel)]="aluno.tipoSanguineo" [autoWidth]="false" #tipoSanguineo="ngModel" required></p-dropdown>
            <app-message [control]="tipoSanguineo" error="required"
            text="Informe o tipo sanguineo"></app-message>
          </div>
      <!--
      <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
        <label>Utiliza medicação</label>
        <p-radioButton name="group1" value="Option 1" label="Alopática" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
        <p-radioButton name="group1" value="Option 2" label="Homeopática" [(ngModel)]="val1" inputId="opt2"></p-radioButton>
      </div>
      -->

      <div class="ui-g-12 ui-fluid">
        <hr>
        <label>O educando apresenta:</label>
      </div>

      <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
        <label>Doença congênita</label>
        <div class="ui-md-2">
          <p-selectButton name="doencaCongenita" [options]="booleano"
           [(ngModel)]="aluno.doencaCongenita"></p-selectButton>
        </div>

      </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Hipertensão</label>
            <div class="ui-md-2">
              <p-selectButton name="hipertensao" [options]="booleano"
                [(ngModel)]="aluno.hipertensao"></p-selectButton>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Epilepsia</label>
            <div class="ui-md-2">
              <p-selectButton name="epilepsia" [options]="booleano"
                [(ngModel)]="aluno.epilepsia"></p-selectButton>
            </div>
          <div class="ui-g-12 ui-fluid">
            <label>Está em tratamento?</label>
            <div class="ui-md-2">
              <p-selectButton name="tratamento" [options]="booleano"
                [(ngModel)]="aluno.epilepsiaTratamento"></p-selectButton>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Hemofilia</label>
            <div class="ui-md-2">
              <p-selectButton name="hemofilia" [options]="booleano"
                [(ngModel)]="aluno.hemofilia"></p-selectButton>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
          <label>Diabetes</label>
          <div class="ui-md-2">
            <p-selectButton name="diabetes" [options]="booleano"
              [(ngModel)]="aluno.diabetes"></p-selectButton>
          </div>
          <div class="ui-g-12 ui-fluid">
            <label>É dependente de insulina</label>
            <div class="ui-md-2">
              <p-selectButton name="insulina" [options]="booleano"
                [(ngModel)]="aluno.diabetesInsulina"></p-selectButton>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Asma</label>
            <div class="ui-md-2">
              <p-selectButton name="asma" [options]="booleano"
                [(ngModel)]="aluno.asma"></p-selectButton>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Alergia a algum tipo de medicamento tópico, oral ou injetável?</label>
            <div class="ui-md-2">
              <p-selectButton name="alergiaMedicamento" [options]="booleano"
                [(ngModel)]="aluno.alergiaMedicamento"></p-selectButton>
            </div>
            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText name="alergiaMedicamentoDescricao" [(ngModel)]="aluno.alergiaMedicamentoDescricao" >
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Esta fazendo algum tipo de tratamento médico?</label>
            <div class="ui-md-2">
              <p-selectButton name="tratamentoMedico" [options]="booleano"
                [(ngModel)]="aluno.tratamentoMedico"></p-selectButton>
            </div>
            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText name="tratamentoMedicoDescricao" [(ngModel)]="aluno.tratamentoMedicoDescricao" >
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Faz uso de medicação específica?</label>
            <div class="ui-md-2">
              <p-selectButton name="medicacaoEspecifica" [options]="booleano"
                [(ngModel)]="aluno.medicacaoEspecifica"></p-selectButton>
            </div>
            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText name="medicacaoEspecificaDescricao" [(ngModel)]="aluno.medicacaoEspecificaDescricao" >
            </div>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Nome do médico</label>
            <input type="text" pInputText name="nomeMedico" [(ngModel)]="aluno.nomeMedico" >
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Telefone do médico</label>
          <input type="text" pInputText name="medicoTelefone" [(ngModel)]="aluno.medicoTelefone" >
      </div>

        <!--
        <div class="ui-g-12 ui-fluid">
            <hr>
            <label>É portador de alguma necessidade especial?</label>
            <div class="ui-g-12"><p-checkbox name="group2" value="MOTORA" label="motora"  inputId="motora" [(ngModel)]="aluno.necessidadeEspecial" ></p-checkbox></div>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Outra</label>
          <input type="text" pInputText>
        </div>


        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
            <hr>
        </div>
      -->

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Faz algum acompanhamento com especialista</label>
            <div class="ui-md-2">
              <p-selectButton name="especialistaAcompanhamento" [options]="booleano"
              [(ngModel)]="aluno.especialistaAcompanhamento"></p-selectButton>
          </div>
            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText name="especialistaDescricao" [(ngModel)]="aluno.especialistaDescricao">
            </div>
        </div>


        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
            <hr>
        </div>

<!--
        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Quais doenças contagiosas da infância já contraidas?</label>
            <div class="ui-g-12"><p-checkbox name="group1" value="CAXUMBA" label="caxumba"  inputId="caxumba"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="SARAMPO" label=" sarampo"  inputId="sarampo"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="RUBEOLA" label="rubéola"  inputId="rubeola"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="CATAPORA" label="catapora"  inputId="catapora"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="ESCARLATINA" label="escarlatina"  inputId="escarlatina"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="COQUELUCHE" label="coqueluche"  inputId="coqueluche"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="OUTRAS" label="outras"  inputId="outras"></p-checkbox></div>

            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
          <hr>
        </div>
         -->

        <div class="ui-g-12 ui-fluid">
          <label>Em caso de emegência, não localizados os pais ou responsáveis, que deverá ser avisado?</label>

        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome</label>
          <input type="text" pInputText name="emergenciaNome" [(ngModel)]="aluno.emergenciaNome" >
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Parentesco</label>
          <input type="text" pInputText name="emergenciaParentesco" [(ngModel)]="aluno.emergenciaParentesco">
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Telefone</label>
          <p-inputMask mask="(99)9999-9999" name="emergenciaTelefone" [(ngModel)]="aluno.emergenciaTelefone"></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Celular</label>
          <p-inputMask mask="(99)99999-9999" name="emergenciaCelular" [(ngModel)]="aluno.emergenciaCelular"></p-inputMask>
        </div>


        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
          <hr>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>O educando possui algum plano de saúde?</label>
          <div class="ui-md-2">
            <p-selectButton name="planoSaude" [options]="booleano"
                [(ngModel)]="aluno.planoSaude"></p-selectButton>
          </div>
          <div class="ui-md-6 ui-fluid">
              <label>Qual?</label>
              <input type="text" pInputText name="planoSaudeDescricao" [(ngModel)]="aluno.planoSaudeDescricao">
          </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
          <hr>
        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Em caso de necessidade, o educando deverá ser removido  para o hospital:</label>
          <input type="text" pInputText name="hospital" [(ngModel)]="aluno.hospital">
        </div>
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Endereço</label>
          <input type="text" pInputText name="hospitalEndereco" [(ngModel)]="aluno.hospitalEndereco">
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Telefone</label>
          <p-inputMask mask="(99)9999-9999" name="hospitalTelefone" [(ngModel)]="aluno.hospitalTelefone" ></p-inputMask>
        </div>





    </p-tabPanel>

    <p-tabPanel header="Considerações da família">

      <div class="ui-g-12 ui-fluid">
          <label>Quem está autorizado a retirar o educando da escola?</label>

        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome</label>
          <input type="text" pInputText name="autorizadoNome1" [(ngModel)]="aluno.autorizadoNome1">
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Identidade</label>
          <input type="text" pInputText name="autorizadoIdentidade1" [(ngModel)]="aluno.autorizadoIdentidade1">
        </div>
        <div class="ui-g-12 ui-md-4 ui-fluid">
            <label>Parentesco</label>
            <input type="text" pInputText name="autorizadoTelefone1" [(ngModel)]="aluno.autorizadoTelefone1">
        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Nome</label>
            <input type="text" pInputText name="autorizadoNome2" [(ngModel)]="aluno.autorizadoNome2">
          </div>
          <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>Identidade</label>
            <input type="text" pInputText name="autorizadoIdentidade2" [(ngModel)]="aluno.autorizadoIdentidade2">
          </div>
          <div class="ui-g-12 ui-md-4 ui-fluid">
              <label>Parentesco</label>
              <input type="text" pInputText name="autorizadoTelefone2" [(ngModel)]="aluno.autorizadoTelefone2">
          </div>


          <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
              <label>O educando vem para escola de que forma?</label>
              <div class="ui-g-12"><p-checkbox name="group2" value="APE" label="A pé e sozinho"  inputId="ape" [(ngModel)]="aluno.transporte"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group2" value="ONIBUS" label="De ônibus e sozinho"  inputId="onibus" [(ngModel)]="aluno.transporte"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group2" value="ACOMPANHADO" label="Alguém vem traze-lo"  inputId="acompanhado" [(ngModel)]="aluno.transporte"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group2" value="TRANSPORTE" label="Transporte escolar"  inputId="transporte" [(ngModel)]="aluno.transporte"></p-checkbox></div>
          </div>



      <div class="ui-g-12 ui-fluid">
          <label>Observações que a família deseja fazer</label>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" name="observacao" [(ngModel)]="aluno.observacao"></textarea>
      </div>


    </p-tabPanel>

      </p-tabView>









      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Nova" class="ui-button-info"
          (click)="nova(f)"></button>
        <button pButton type="button" label="Cancelar" routerLink="/alunos"></button>
      </div>








    </div>

  </form>

</div>
