<div class="container">
  <form autocomplete="off">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Cadastro aluno</h1>
      </div>

      <p-tabView>

        <p-tabPanel header="Aluno">


      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText  name="nome"
        ngModel #nome="ngModel" required>

        <app-message [control]="nome" error="required"
        text="Informe o nome"></app-message>

      </div>

      <div class="ui-g-12 ui-md-1 ui-fluid">
        <label>Sexo</label>
        <p-dropdown name="sexo" placeholder="Selecione" [options]="sexos" [(ngModel)]="aluno.sexo" [autoWidth]="false" ngModel #sexo="ngModel" required></p-dropdown>
        <app-message [control]="sexo" error="required"
        text="Informe o sexo"></app-message>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"
          name="dataNascimento" ngModel #dataNascimento="ngModel" required></p-calendar>
        <app-message [control]="dataNascimento" error="required" text="Informe a data de nascimento"></app-message>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Naturalidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
      <label>Nacionalidade</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Cor/Raça</label>
          <p-dropdown name="cor" placeholder="Selecione" [options]="cores" [(ngModel)]="aluno.cor" [autoWidth]="false" ngModel #cor="ngModel" required></p-dropdown>
          <app-message [control]="cor" error="required"
          text="Informe uma opção"></app-message>
      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid">
          <label>Estado civil</label>
          <p-dropdown name="estadoCivil" placeholder="Selecione" [options]="estadoCivis" [(ngModel)]="aluno.estadoCivil" [autoWidth]="false" ngModel #estadoCivil="ngModel" required></p-dropdown>
          <app-message [control]="estadoCivil" error="required"
          text="Informe uma opção"></app-message>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Data de ingresso</label>
          <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"
            name="dataIngresso" ngModel #dataIngresso="ngModel" required></p-calendar>
          <app-message [control]="dataIngresso" error="required" text="Informe a data"></app-message>
        </div>

      <div class="ui-g-12 ui-fluid">
        <hr>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Carteira de Identidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de Emissão</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Orgão Emissor</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estado emissor</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Nº Certidão de Nascimento</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data Registro</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Livro</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Nº das Folhas</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Cartório</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estado emissor</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-12 ui-fluid">
        <hr>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999" id="cep" name="cep" [(ngModel)]="cep.cep" (change)="buscar()"></p-inputMask>
      </div>



      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Endereço Residêncial</label>
        <input type="text" pInputText id="endereco" name="endereco" [(ngModel)]="cep.logradouro">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText id="complemento" name="complemento" [(ngModel)]="cep.complemento">
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText id="bairro" name="bairro" [(ngModel)]="cep.bairro">
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText id="cidade" name="cidade" [(ngModel)]="cep.cidade">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText id="estado" name="estado" [(ngModel)]="cep.estado">
      </div>


      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Telefone Fixo</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Celular</label>
        <p-inputMask mask="(99)99999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Pais Separados</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Religião</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Reside com</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-12 ui-fluid">
        <hr>
      </div>

      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Escola de origem</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      </p-tabPanel>

      <p-tabPanel header="Dados do Pai">

      <div class="ui-g-12 ui-fluid">
        <label>Nome Completo</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Nacionalidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Carteira de identidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de emissão</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Orgão emissor</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-1 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Endereço</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Religião</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Escolaridade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Profissão</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Empresa</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Função</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Endereço comercial</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Residêncial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Celular</label>
        <p-inputMask mask="(99)99999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Comercial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText>
      </div>

    </p-tabPanel>


      <p-tabPanel header="Dados da Mãe">

      <div class="ui-g-12 ui-fluid">
        <label>Nome Completo</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Nacionalidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Carteira de identidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de emissão</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Orgão emissor</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-1 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Endereço</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Religião</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Escolaridade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Profissão</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Empresa</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Função</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Endereço comercial</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Residêncial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Celular</label>
        <p-inputMask mask="(99)99999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Comercial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText>
      </div>
      </p-tabPanel>



    <p-tabPanel header="Aspectos de saúde">
      <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
        <label>Utiliza medicação</label>
        <p-radioButton name="group1" value="Option 1" label="Alopática" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
        <p-radioButton name="group1" value="Option 2" label="Homeopática" [(ngModel)]="val1" inputId="opt2"></p-radioButton>
      </div>

      <div class="ui-g-12 ui-fluid">
        <hr>
        <label>O educando apresenta:</label>
      </div>

      <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
        <label>Doença congênita</label>
        <p-radioButton name="group2" value="Option 1" label="Não" [(ngModel)]="val2" inputId="opt1"></p-radioButton>
        <p-radioButton name="group2" value="Option 2" label="Sim" [(ngModel)]="val2" inputId="opt2"></p-radioButton>
        <div class="ui-md-6 ui-fluid">
          <label>Qual?</label>
          <input type="text" pInputText>
        </div>

      </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Hipertensão</label>
            <p-radioButton name="group3" value="Option 1" label="Não" [(ngModel)]="val3" inputId="opt1"></p-radioButton>
            <p-radioButton name="group3" value="Option 2" label="Sim" [(ngModel)]="val3" inputId="opt2"></p-radioButton>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Epilepsia</label>
            <p-radioButton name="group4" value="Option 1" label="Não" [(ngModel)]="val4" inputId="opt1"></p-radioButton>
            <p-radioButton name="group4" value="Option 2" label="Sim" [(ngModel)]="val4" inputId="opt2"></p-radioButton>
          <div class="ui-md-6 ui-fluid">
            <label>Está em tratamento?</label>
            <p-radioButton name="group5" value="Option 1" label="Não" [(ngModel)]="val5" inputId="opt1"></p-radioButton>
            <p-radioButton name="group5" value="Option 2" label="Sim" [(ngModel)]="val5" inputId="opt2"></p-radioButton>
          </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Hemofilia</label>
            <p-radioButton name="group6" value="Option 1" label="Não" [(ngModel)]="val6" inputId="opt1"></p-radioButton>
            <p-radioButton name="group6" value="Option 2" label="Sim" [(ngModel)]="val6" inputId="opt2"></p-radioButton>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
          <label>Diabetes</label>
          <p-radioButton name="group7" value="Option 1" label="Não" [(ngModel)]="val7" inputId="opt1"></p-radioButton>
          <p-radioButton name="group7" value="Option 2" label="Sim" [(ngModel)]="val7" inputId="opt2"></p-radioButton>
          <div class="ui-md-6 ui-fluid">
            <label>É dependente de insulina</label>
            <p-radioButton name="group8" value="Option 1" label="Não" [(ngModel)]="val8" inputId="opt1"></p-radioButton>
            <p-radioButton name="group8" value="Option 2" label="Sim" [(ngModel)]="val8" inputId="opt2"></p-radioButton>
          </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Asma</label>
            <p-radioButton name="group9" value="Option 1" label="Não" [(ngModel)]="val9" inputId="opt1"></p-radioButton>
            <p-radioButton name="group9" value="Option 2" label="Sim" [(ngModel)]="val9" inputId="opt2"></p-radioButton>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Alergia a algum tipo de medicamento tópico, oral ou injetável?</label>
            <p-radioButton name="group10" value="Option 1" label="Não" [(ngModel)]="val10" inputId="opt1"></p-radioButton>
            <p-radioButton name="group10" value="Option 2" label="Sim" [(ngModel)]="val10" inputId="opt2"></p-radioButton>
            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Esta fazendo algum tipo de tratamento médico?</label>
            <p-radioButton name="group11" value="Option 1" label="Não" [(ngModel)]="val11" inputId="opt1"></p-radioButton>
            <p-radioButton name="group11" value="Option 2" label="Sim" [(ngModel)]="val11" inputId="opt2"></p-radioButton>
            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Faz uso de medicação específica?</label>
            <p-radioButton name="group12" value="Option 1" label="Não" [(ngModel)]="val12" inputId="opt1"></p-radioButton>
            <p-radioButton name="group12" value="Option 2" label="Sim" [(ngModel)]="val12" inputId="opt2"></p-radioButton>
            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText>
            </div>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Nome do médico</label>
            <input type="text" pInputText>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Telefone</label>
            <p-inputMask mask="(99)9999-9999"></p-inputMask>
        </div>

        <div class="ui-g-12 ui-fluid">
            <hr>
            <label>É portador de alguma necessidade especial?</label>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Motora</label>
            <p-radioButton name="group13" value="Option 1" label="Não" [(ngModel)]="val13" inputId="opt1"></p-radioButton>
            <p-radioButton name="group13" value="Option 2" label="Sim" [(ngModel)]="val13" inputId="opt2"></p-radioButton>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Visual</label>
            <p-radioButton name="group14" value="Option 1" label="Não" [(ngModel)]="val14" inputId="opt1"></p-radioButton>
            <p-radioButton name="group14" value="Option 2" label="Sim" [(ngModel)]="val14" inputId="opt2"></p-radioButton>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Auditiva</label>
            <p-radioButton name="group15" value="Option 1" label="Não" [(ngModel)]="val15" inputId="opt1"></p-radioButton>
            <p-radioButton name="group15" value="Option 2" label="Sim" [(ngModel)]="val15" inputId="opt2"></p-radioButton>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Autismo</label>
            <p-radioButton name="group16" value="Option 1" label="Não" [(ngModel)]="val16" inputId="opt1"></p-radioButton>
            <p-radioButton name="group16" value="Option 2" label="Sim" [(ngModel)]="val16" inputId="opt2"></p-radioButton>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Outra</label>
          <input type="text" pInputText>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
            <hr>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Faz algum acompanhamento com especialista</label>
            <p-radioButton name="group17" value="Option 1" label="Não" [(ngModel)]="val17" inputId="opt1"></p-radioButton>
            <p-radioButton name="group17" value="Option 2" label="Sim" [(ngModel)]="val17" inputId="opt2"></p-radioButton>
            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
            <hr>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Quais doenças contagiosas da infância já contraidas?</label>
            <div class="ui-g-12"><p-checkbox name="group1" value="CAXUMBA" label="caxumba"  inputId="caxumba"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="SARAMPO" label=" sarampo"  inputId="sarampo"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="RUBEOLA" label="rubéola"  inputId="rubeola"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="CATAPORA" label="catapora"  inputId="catapora"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="ESCARLATINA" label="escarlatina"  inputId="escarlatina"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="COQUELUCHE" label="coqueluche"  inputId="coqueluche"></p-checkbox></div>
            <div class="ui-g-12"><p-checkbox name="group1" value="OUTRAS" label="outras"  inputId="outras"></p-checkbox></div>

            <div class="ui-md-6 ui-fluid">
                <label>Qual?</label>
                <input type="text" pInputText>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
          <hr>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>Em caso de emegência, não localizados os pais ou responsáveis, que deverá ser avisado?</label>

        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome</label>
          <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Parentesco</label>
          <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Telefone</label>
          <p-inputMask mask="(99)9999-9999"></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Celular</label>
          <p-inputMask mask="(99)99999-9999"></p-inputMask>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome</label>
          <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Parentesco</label>
          <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Telefone</label>
          <p-inputMask mask="(99)9999-9999"></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Celular</label>
          <p-inputMask mask="(99)99999-9999"></p-inputMask>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
          <hr>
        </div>

        <div class="ui-g-12 ui-fluid">
          <label>O educando possui algum plano de saúde?</label>
          <p-radioButton name="group18" value="Option 1" label="Não" [(ngModel)]="val18" inputId="opt1"></p-radioButton>
          <p-radioButton name="group18" value="Option 2" label="Sim" [(ngModel)]="val18" inputId="opt2"></p-radioButton>
          <div class="ui-md-6 ui-fluid">
              <label>Qual?</label>
              <input type="text" pInputText>
          </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-top: 10px">
          <hr>
        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Em caso de necessidade, o educando deverá ser removido  para o hospital:</label>
          <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Endereço</label>
          <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Telefone</label>
          <p-inputMask mask="(99)9999-9999"></p-inputMask>
        </div>





    </p-tabPanel>

    <p-tabPanel header="Considerações da família">

      <div class="ui-g-12 ui-fluid">
          <label>Quem está autorizado a retirar o educando da escola?</label>

        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome</label>
          <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>RG</label>
          <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-md-4 ui-fluid">
            <label>Parentesco</label>
            <input type="text" pInputText>
        </div>
        <div class="ui-g-12 ui-md-6 ui-fluid">
            <label>Nome</label>
            <input type="text" pInputText>
          </div>
          <div class="ui-g-12 ui-md-2 ui-fluid">
            <label>RG</label>
            <input type="text" pInputText>
          </div>
          <div class="ui-g-12 ui-md-4 ui-fluid">
              <label>Parentesco</label>
              <input type="text" pInputText>
          </div>

          <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
              <label>O educando vem para escola de que forma?</label>
              <div class="ui-g-12"><p-checkbox name="group2" value="APE" label="A pé e sozinho"  inputId="ape"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group2" value="ONIBUS" label="De ônibus e sozinho"  inputId="onibus"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group2" value="ACOMPANHADO" label="Alguém vem traze-lo"  inputId="acompanhado"></p-checkbox></div>
              <div class="ui-g-12"><p-checkbox name="group2" value="TRANSPORTE" label="Transporte escolar"  inputId="transporte"></p-checkbox></div>
          </div>


      <div class="ui-g-12 ui-fluid">
          <label>Observações que a família deseja fazer</label>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
      </div>


    </p-tabPanel>

      </p-tabView>









      <div class="ui-g-12">
        <button pButton type="button" label="Salvar"></button>
        <button pButton type="button" label="Limpar"></button>
        <button pButton type="button" label="Cancelar" routerLink="/alunos"></button>
      </div>








    </div>

  </form>

</div>
