<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} responsável</h1>
      </div>

      <div class="ui-g-12 ui-md-7 ui-fluid">
          <label>Nome Completo</label>
          <input type="text" name="nome" pInputText [(ngModel)]="responsavel.nome" required >
        </div>


        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Sexo</label>
          <p-dropdown name="sexo" placeholder="Selecione" [options]="sexos" [(ngModel)]="responsavel.sexo" [autoWidth]="false" required></p-dropdown>


        </div>


        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Cor/Raça</label>
          <p-dropdown name="cor" placeholder="Selecione" [options]="cores" [(ngModel)]="responsavel.cor" [autoWidth]="false" #cor="ngModel" required></p-dropdown>



      </div>


      <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Estado civil</label>
          <p-dropdown name="estadoCivil" placeholder="Selecione" [options]="estadosCivis" [(ngModel)]="responsavel.estadoCivil" [autoWidth]="false"></p-dropdown>


      </div>



        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Data de Nascimento</label>
          <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" name="dataNascimento" [(ngModel)]="responsavel.dataNascimento"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Nacionalidade</label>
          <input type="text" pInputText name="nacionalidade" [(ngModel)]="responsavel.nacionalidade">
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>CPF</label>
          <p-inputMask mask="999.999.999-99" name="cpf" [(ngModel)]="responsavel.cpf"></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Carteira de identidade</label>
          <input type="text" pInputText name="identidade" [(ngModel)]="responsavel.identidade">
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Data de emissão</label>
          <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" name="identidadeEmissao" [(ngModel)]="responsavel.identidadeEmissao"></p-calendar>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Orgão emissor</label>
          <input type="text" pInputText name="identidadeEmissor" [(ngModel)]="responsavel.identidadeEmissor">
        </div>
        <div class="ui-g-12 ui-md-1 ui-fluid">
          <label>Estado</label>
          <input type="text" pInputText name="identidadeEstado" [(ngModel)]="responsavel.identidadeEstado">
        </div>

        <div class="ui-g-12 ui-fluid">
          <hr>
        </div>

        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Telefone Residêncial</label>
          <p-inputMask mask="(99)9999-9999" name="telefone" [(ngModel)]="responsavel.telefone"></p-inputMask>
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Celular</label>
          <p-inputMask mask="(99)99999-9999" name="celular" [(ngModel)]="responsavel.celular"></p-inputMask>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>E-mail</label>
          <input type="text" pInputText name="email" [(ngModel)]="responsavel.email">
        </div>

        <div class="ui-g-12 ui-fluid">
          <hr>
        </div>

        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>CEP</label>
          <p-inputMask mask="99999-999" name="cep" [(ngModel)]="responsavel.endereco.cep"></p-inputMask>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Endereço</label>
          <input type="text" pInputText name="logradouro" [(ngModel)]="responsavel.endereco.logradouro">
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Complemento</label>
          <input type="text" pInputText name="complemento" [(ngModel)]="responsavel.endereco.complemento">
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Bairro</label>
          <input type="text" pInputText name="bairro" [(ngModel)]="responsavel.endereco.bairro">
        </div>
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Cidade</label>
          <input type="text" pInputText name="cidade" [(ngModel)]="responsavel.endereco.cidade">
        </div>
        <div class="ui-g-12 ui-md-1 ui-fluid">
          <label>Estado</label>
          <input type="text" pInputText name="estado" [(ngModel)]="responsavel.endereco.estado">
        </div>

        <div class="ui-g-12 ui-fluid">
          <hr>
        </div>

        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Religião</label>
          <input type="text" pInputText name="religiao" [(ngModel)]="responsavel.religiao">
        </div>
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Escolaridade</label>
          <input type="text" pInputText  name="escolaridade" [(ngModel)]="responsavel.escolaridade">
        </div>
        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Profissão</label>
          <input type="text" pInputText  name="profissao" [(ngModel)]="responsavel.profissao">
        </div>

        <div class="ui-g-12 ui-fluid">
          <hr>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Empresa</label>
          <input type="text" pInputText  name="empresa" [(ngModel)]="responsavel.empresa">
        </div>
        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Função</label>
          <input type="text" pInputText  name="funcao" [(ngModel)]="responsavel.funcao">
        </div>
        <div class="ui-g-12 ui-md-5 ui-fluid">
          <label>Endereço comercial</label>
          <input type="text" pInputText name="enderecoComercial" [(ngModel)]="responsavel.enderecoComercial">
        </div>

        <div class="ui-g-12 ui-md-2 ui-fluid">
          <label>Telefone Comercial</label>
          <p-inputMask mask="(99)9999-9999" name="telefoneComercial" [(ngModel)]="responsavel.telefoneComercial"></p-inputMask>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <button pButton type="button" label="Nova" class="ui-button-info"
            (click)="nova(f)"></button>
          <button pButton type="button" label="Cancelar" routerLink="/responsaveis"></button>
        </div>

    </div>
  </form>
</div>
