<div class="container">
  <form autocomplete="off">
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Cadastro aluno</h1>
      </div>

      <p-tabView>

        <p-tabPanel header="Aluno">


      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText placeholder="Nome">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Sexo</label>
        <input type="text" pInputText placeholder="Sexo">
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Naturalidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
      <label>Nacionalidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Carteira de Identidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de Emissão</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Orgão Emissor</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-1 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Nº Certidão de Nascimento</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data Registro</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Livro</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Nº das Folhas</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Cartório</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Endereço Residêncial</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Telefone Fixo</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Celular</label>
        <p-inputMask mask="(99)99999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Pais Separados</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Religião</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Reside com</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Escola de origem</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      </p-tabPanel>

      <p-tabPanel header="Dados do Pai">

      <div class="ui-g-12 ui-fluid">
        <label>Nome Completo</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Nacionalidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Carteira de identidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de emissão</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Orgão emissor</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-1 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Endereço</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Religião</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Escolaridade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Profissão</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Empresa</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Função</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Endereço comercial</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Residêncial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Celular</label>
        <p-inputMask mask="(99)99999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Comercial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText>
      </div>

    </p-tabPanel>


      <p-tabPanel header="Dados da Mãe">

      <div class="ui-g-12 ui-fluid">
        <label>Nome Completo</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Nacionalidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Carteira de identidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de emissão</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Orgão emissor</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-1 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Endereço</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Religião</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Escolaridade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Profissão</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Empresa</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Função</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Endereço comercial</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Residêncial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Celular</label>
        <p-inputMask mask="(99)99999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Comercial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText>
      </div>
      </p-tabPanel>

      <p-tabPanel header="Responsável Financeiro">

      <div class="ui-g-12 ui-fluid">
        <label>Responsável Financeiro</label>
        <input type="text" pInputText>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome Completo</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Nacionalidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Carteira de identidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Data de emissão</label>
        <p-calendar dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Orgão emissor</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-1 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Endereço</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999"></p-inputMask>
      </div>


      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Profissão</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Empresa</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Endereço comercial</label>
        <input type="text" pInputText>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Residêncial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Celular</label>
        <p-inputMask mask="(99)99999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Telefone Comercial</label>
        <p-inputMask mask="(99)9999-9999"></p-inputMask>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>E-mail</label>
        <input type="text" pInputText>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Aspectos de saúde">
      <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
        <label>Utiliza medicação</label>
        <p-radioButton name="group1" value="Option 1" label="Alopática" [(ngModel)]="val1" inputId="opt1"></p-radioButton>
        <p-radioButton name="group1" value="Option 2" label="Homeopática" [(ngModel)]="val1" inputId="opt2"></p-radioButton>
      </div>

      <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
        <label>Doença congênita</label>
        <p-radioButton name="group2" value="Option 1" label="Não" [(ngModel)]="val2" inputId="opt1"></p-radioButton>
        <p-radioButton name="group2" value="Option 2" label="Sim" [(ngModel)]="val2" inputId="opt2"></p-radioButton>
        <div class="ui-md-6 ui-fluid">
          <label>Qual?</label>
          <input type="text" pInputText>
        </div>

      </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Hipertensão</label>
            <p-radioButton name="group3" value="Option 1" label="Não" [(ngModel)]="val3" inputId="opt1"></p-radioButton>
            <p-radioButton name="group3" value="Option 2" label="Sim" [(ngModel)]="val3" inputId="opt2"></p-radioButton>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Epilepsia</label>
            <p-radioButton name="group4" value="Option 1" label="Não" [(ngModel)]="val4" inputId="opt1"></p-radioButton>
            <p-radioButton name="group4" value="Option 2" label="Sim" [(ngModel)]="val4" inputId="opt2"></p-radioButton>
          <div class="ui-md-6 ui-fluid">
            <label>Está em tratamento?</label>
            <p-radioButton name="group5" value="Option 1" label="Não" [(ngModel)]="val5" inputId="opt1"></p-radioButton>
            <p-radioButton name="group5" value="Option 2" label="Sim" [(ngModel)]="val5" inputId="opt2"></p-radioButton>
          </div>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Hemofilia</label>
            <p-radioButton name="group6" value="Option 1" label="Não" [(ngModel)]="val6" inputId="opt1"></p-radioButton>
            <p-radioButton name="group6" value="Option 2" label="Sim" [(ngModel)]="val6" inputId="opt2"></p-radioButton>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
          <label>Diabetes</label>
          <p-radioButton name="group7" value="Option 1" label="Não" [(ngModel)]="val7" inputId="opt1"></p-radioButton>
          <p-radioButton name="group7" value="Option 2" label="Sim" [(ngModel)]="val7" inputId="opt2"></p-radioButton>
          <div class="ui-md-6 ui-fluid">
            <label>É dependente de insulina</label>
            <p-radioButton name="group8" value="Option 1" label="Não" [(ngModel)]="val8" inputId="opt1"></p-radioButton>
            <p-radioButton name="group8" value="Option 2" label="Sim" [(ngModel)]="val8" inputId="opt2"></p-radioButton>
          </div>
        </div>

        <div class="ui-g-12 ui-fluid" style="margin-bottom:10px">
            <label>Asma</label>
            <p-radioButton name="group9" value="Option 1" label="Não" [(ngModel)]="val9" inputId="opt1"></p-radioButton>
            <p-radioButton name="group9" value="Option 2" label="Sim" [(ngModel)]="val9" inputId="opt2"></p-radioButton>
        </div>






    </p-tabPanel>

    <p-tabPanel header="Considerações da família">
      <div class="ui-g-12 ui-fluid">
          <label>Observações que a família deseja fazer</label>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
      </div>
    </p-tabPanel>

      </p-tabView>









      <div class="ui-g-12">
        <button pButton type="button" label="Salvar" style="margin-left: 5px"></button>
        <button pButton type="button" label="Limpar" style="margin-left: 5px"></button>
        <button pButton type="button" label="Voltar" style="margin-left: 5px"></button>
      </div>








    </div>

  </form>

</div>
